* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --lightblue: rgb(181, 208, 232);
    --black: black;
    --blue: #0061FF;
    --red: #D5001F;
    --celestino: #B4D0E7;
    --blue-scuro: #0D2481;
    --giallo: #FFD830;
    --marrone: #61082B;
    --verdino: #A2D39B;
    --verde-chiaro: #D1E9CD;
    --celeste-scuro: #0093CE;
    --rosso-acceso: #FF1C1C;
    --grigetto: #F5F5F5;

}

body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1150px;
}

/* per inner hero e inner footer */
.container {
    max-width: 1200px;
    margin: 0 auto;

}

/* per sections main */
.small-container {
    max-width: 1000px;
    margin: 150px auto;
}

/* header */
header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: var(--white);
    min-width: 1150px;
}

button {
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

header button:hover {
    background-color: var(--lightblue);
}

ul {
    list-style-type: none;
}

#hero {
    background-color: var(--lightblue);
    padding-top: 80px;
}

#hero .container {
    position: relative;
    bottom: -80px;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 40px;
}


h4 {
    font-size: 20px;
}

/* tipi di flex */
.d-flex {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.felx {
    display: flex;
}

.w30 i {
    font-size: 40px;
    margin-top: 90px;
    color: black;
}

.destra {
    display: flex;
    margin-left: auto;
}

.bottone {
    background-color: #0061FF;
    border: none;
    cursor: pointer;

}

.riga {
    width: 50px;
    height: 2px;
    border: 1px solid grey;
    margin-top: 150px;
}

.grigio {
    color: gray;
}

.logo {
    margin: 0 20px;
    cursor: pointer;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}

.menu li:hover {
    cursor: pointer;
    text-decoration-line: underline;
    color: #0061FF;
}

#hero img {
    width: 100%;
}

.w30 {
    width: 30%;
    padding-top: 50px;

}

.w70 {
    width: 70%;

}

/* main */
.radio-div {
    height: 50px;
}

.circle {
    display: inline-block;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.radio-div {
    margin-right: 50px;
}

#checked {
    border: 6px solid var(--blue);
}

#non-checked {
    border: 3px solid rgb(221, 221, 223);
}

.radio-div span {
    line-height: 50px;
}

.card {
    width: calc((100% - 100px)/ 3);
    height: 1100px;
    border: 1px solid grey;
    text-align: center;
    margin-top: 50px;
}

.intestazione-card {

    padding: 10px;
    border-bottom: 1px solid grey;
}

.allineamento-card {

    padding-left: 20px;
    padding-top: 30px;
}

.allineamento-card-titolo {
    padding-left: 20px;
    padding-top: 30px;
}

.icona-card i {
    margin-right: 10px;
}

.margine30 {
    margin-top: 30px;

}

.margine20 {
    margin-top: 20px;
}

.margine50 {
    margin-top: 50px;

}

.margine-butt {
    margin-top: 18px;
    margin-left: 30px;
}

.button2 {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 40px;
    border: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.sottolinea a {
    text-decoration: underline;
    color: var(--blue);
}

.blue {
    color: #0061FF;
}

.bianco {
    color: black;
    background-color: white;
}

#enterprise {
    border: 1px solid var(--black);
}

.intestazione-card2 {
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black);

}

.text-aline {
    text-align: initial;
}

.container-enterprise {
    margin-top: 20px;
}

.dist20 {
    padding: 20px;
}

.btn {
    background-color: var(--blue);
    padding: 7px 15px;
    color: var(--white);
    text-decoration: none;

}

.w60 {
    width: 60%;
}

.w60 img {
    width: 100%;
}

.w40 {
    width: 40%;
}

#foto .w40 {
    padding-top: 40px;
    padding-left: 40px;
}

#foto .w40 div {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sei-blocchi img {
    width: 300px;
}

#img .contenitore {
    flex-wrap: wrap;
    margin-top: 50px;
}

.container-card {
    width: calc((100%) / 3);

}

.container-card div {
    margin: 20px 0;
}

.container-card h3 {
    margin-top: 20px;
    margin-bottom: 50px;

}

.quadrati-loghi {
    width: calc(100% / 3);

}

.img-box {
    width: 50%;
    height: 16vw;
    background-color: var(--red);
    position: relative;
    border: 1px solid black;

}

.wrap {
    flex-wrap: wrap;
}

.quadrati-loghi img {
    filter: invert(1);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.centrx {
    height: 32vw;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--grigetto);

}

.all-widht {
    background-color: var(--celestino);
    height: 400px;

}

.small-container2 {
    max-width: 1000px;
    margin: auto;
    padding-top: 160px;
}

.w40-2 {
    width: 40%;
    text-align: end;
}
.question{
    border-top:1px solid black;
    position:relative;
    align-items: center;
    padding:30px 0;
 }
 #question-last{
    border-bottom:1px solid black;
 }
 .question i {
    position:absolute;
    top: 31px;
    right: 0px;
 }
 .question:hover i{
    rotate: 180deg;
 }
/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
}

.list {
    width: calc(100% / 5);

}

hr {
    color:white;
}

footer a {
    text-decoration: none;
    color:white;
}
.all-widht-2{
    background-color: black;
    height: 500px;
}
.lingua{
    background-color: black;
    color: white;
}