* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --lightblue: rgb(181, 208, 232);
    --black: black;
    --blue: #0061FF;
}

body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* per inner hero e inner footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* min-width: ; */
}

/* per sections main */
.small-container {
    max-width: 1000px;
    margin: 150px auto;
}

/* header */
header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: var(--white);
}

button {
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

header button:hover {
    background-color: var(--lightblue);
}
.btn{
    margin-top: 20px;
}
ul {
    list-style-type: none;
}

#hero {
    background-color: var(--lightblue);
    padding-top: 80px;
}

#hero .container {
    position: relative;
    bottom: -80px;
}

h1 {
    font-size: 76px;
}
h2{
    font-size: 40px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.w30 i{
    font-size: 40px;
    margin-top: 90px;
}
.destra {
    display: flex;
    margin-left: auto;
}

.bottone {
    background-color: #0061FF;
    border: none;
    cursor: pointer;

}

.logo {
    margin: 0 20px;
    cursor: pointer;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}

.menu li:hover {
    cursor: pointer;
    text-decoration-line: underline;
    color: #0061FF;
}

#hero img {
    width: 100%;
}

.w30 {
    width: 30%;
    padding-top: 50px;

}

.flex-start {
    align-items: flex-start;
}

.w70 {
    width: 70%;
    padding-top: 50px;
}

/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
}
/* main */
.radio-div {
    height: 50px;
}
.circle {
    display: inline-block;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}
#checked {
    border: 6px solid var(--blue);
}
#non-checked {
    border: 3px solid rgb(221, 221, 223);
}
.radio-div span {
    line-height: 50px;
}